h1 {
  text-align: center;
}

.main {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  border: 1px solid black;
}

.screen {
  background-color: lightblue;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}

.numbers {
  width: 80%;
}

.operation {
  width: 20%;
}

input {
  border: 0;
  padding: 10px;
}

input:focus {
  background-color: steelblue;
  color: white;
}

.btn-nb {
  width: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  background-color: lightsteelblue;
}

.btn-op {
  width: 100%;
  margin: 5px 0;
  font-weight: bold;
  background-color: slategray;
  color: white;
}
